pre {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.hljs-comment {
    color: inherit;
}

.quote {
	color: #91AD85;
}

.javascript.hljs{
	background: #272822;
}
.php.hljs{
	background: #272822;
}

a:hover {
    text-decoration: underline;
}
